.git/
.idea/
go.work
go.work.sum
crawler/proxyaddr.json
*/go.sum
secret.json
.secret

test.json
*.log

pkg/

# ==========================
# used for frontend project
# ==========================
.vite-ssg-temp

node_modules
.DS_Store
dist
dist-ssr
*.local

# lock
yarn.lock
package-lock.json
pnpm-lock.yaml

# ==========================
# used for scripts
# ==========================
#scripts
