.git/
go.work
go.work.sum
crawler/proxyaddr.json
secret.json
.secret
config.yaml

test.json
*.log

pkg/

# jetbrains file
**/.uuid
.idea/

# ==========================
# used for build files
# ==========================
*result.json
ditector
accounts.json
docker-scan
